@keyframes slideIn {
    0% {
        right: -35vw;
    }

    100% {
        right: 35vw;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    0% {
        opacity: 1;
        top: 0;
    }

    100% {
        top: 100vh;
    }
}

.bucket {
    position:fixed;
    bottom: 0;
    width: 36vw;
    height: 37vw;
    text-align: center;
	shape-outside: polygon(
        0 0,
        100% 0,
        90% 100%,
        10% 100%
    );
    clip-path: polygon(
        0 0,
        100% 0,
        90% 100%,
        10% 100%
    );
    background-color: #555;
    animation: slideIn 2s;
    animation-fill-mode: forwards;
}

.test {
    display: inline-block;
    text-align: center;
    height: 5vw;
    width: 4.85vw;
    margin: 5% 7% 5% 7%;
}

label {
    color: black;
    font-weight: bold;
}

.bucket_window {
    cursor: pointer;
    caret-color: transparent;
	text-align: center;
    font-size: 3em;
    height: 4.85vw;
    width: 4.85vw;
}